﻿@model emlakSitesi.Models.emlak

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>emlak</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.emlakBaslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emlakBaslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emlakAciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emlakAciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emlakTuru)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emlakTuru)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emlakOnay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emlakOnay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emlakFiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emlakFiyat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emlakResim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emlakResim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.il)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.il)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ilce)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ilce)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.emlakID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
