﻿@model IEnumerable<emlakSitesi.Models.emlak>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<p>
    @Html.ActionLink("Yeni Emlak Ekle", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.emlakBaslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emlakAciklama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emlakTuru)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emlakOnay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emlakFiyat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.emlakResim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.il)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ilce)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.emlakBaslik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emlakAciklama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emlakTuru)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emlakOnay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emlakFiyat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.emlakResim)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.il)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ilce)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.emlakID }) |
            @Html.ActionLink("Details", "Details", new { id=item.emlakID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.emlakID })
        </td>
    </tr>
}

</table>
