﻿@model IEnumerable<emlakSitesi.Models.emlak>
    @{
        ViewBag.Title = "Anasayfa";
    }

<div class="row">
    @***********************************SLİDER BAŞLANGIÇ*@

    <div class="col-md-9">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic" data-slide-to="4"></li>

            </ol>

            <!-- Wrapper for slides -->

            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <center><img src="https://image5.sahibinden.com/photos/65/87/98/3756587986up.jpg" alt="Serdivanda Kiralık Daire"></center>
                </div>
                @foreach (var item in Model)

                {

                    <div class="item">
                        <center><img src="@Html.DisplayFor(modelItem => item.emlakResim)" alt="@Html.DisplayFor(modelItem => item.emlakBaslik)"></center>
                    </div>

                }

            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
        @***********************************SLİDER BİTİŞ*@

        <div class="col-md-3" style="padding-left:40px;padding-right:40px; height:350px;">
            <marquee direction="up"onmouseover="this.stop()" onmouseout="this.start()" style="height:350px;">
           @foreach (var item in Model)
           {
               <a href="../../emlaks/Details/@Html.DisplayFor(modelItem => item.emlakID)">
                   <h5>@Html.DisplayFor(modelItem => item.emlakBaslik)</h5>
               </a>


           }
                </marquee>
        </div>
    </div>
        <h4>@Html.ActionLink("Satılıklar", "Satilik", "Home")</h4>
        <hr style="width:100%;height:2px;color:#666666; margin-top:0px;" />
        <div class="row">
    
    @foreach (var item in Model)
    {


        if (item.emlakTuru == 1 && item.emlakOnay == 1)
        {
            
            <a class="emlak-link" href="emlaks/Details/@Html.DisplayFor(modelItem => item.emlakID)">
                <div class="col-md-3">
                    <div id="emlak-baslik" style="color:#6d1313; width:100%; font-size:14px; text-align:center; font-weight:bold;">
                        @Html.DisplayFor(modelItem => item.emlakBaslik)
                    </div>
                    <div id="emlak-resim" style="width:100%; height:auto;">
                        <center>
                            <img id="emlak-res" style="width:200px; height:150px;" src="
                    @Html.DisplayFor(modelItem => item.emlakResim)" />
                        </center>
                    </div>
                    <div id="emlak-adres" style="color:#050246; width:100%; font-size:14px; text-align:center;">
                        @Html.DisplayFor(modelItem => item.il)
                        /
                        @Html.DisplayFor(modelItem => item.ilce)
                    </div>
                    <div id="emlak-fiyat" style="color:#050246; width:100%; font-size:16px; text-align:center; font-weight:bold;">
                        @Html.DisplayFor(modelItem => item.emlakFiyat) TL
                    </div>
                </div>
            </a>
                
         }
    }
</div>
        <h4>@Html.ActionLink("Kiralıklar", "Kiralik", "Home")</h4>
        <hr style="width:100%;height:2px;color:#666666; margin-top:0px;" />
        <div class="row">
            @foreach (var item in Model)

            {
                if (item.emlakTuru == 2 && item.emlakOnay == 1)
                {
                    <a class="emlak-link" href="emlaks/Details/@Html.DisplayFor(modelItem => item.emlakID)">
                        <div class="col-md-3">
                            <div id="emlak-baslik" style="color:#6d1313; width:100%; font-size:14px; text-align:center; font-weight:bold;">
                                @Html.DisplayFor(modelItem => item.emlakBaslik)
                            </div>
                            <div id="emlak-resim" style="width:100%; height:auto;">
                                <center>
                                    <img id="emlak-res" style="width:200px; height:150px;" src="
                    @Html.DisplayFor(modelItem => item.emlakResim)" />
                                </center>
                            </div>
                            <div id="emlak-adres" style="color:#050246; width:100%; font-size:14px; text-align:center;">
                                @Html.DisplayFor(modelItem => item.il)
                                /
                                @Html.DisplayFor(modelItem => item.ilce)
                            </div>
                            <div id="emlak-fiyat" style="color:#050246; width:100%; font-size:16px; text-align:center; font-weight:bold;">
                                @Html.DisplayFor(modelItem => item.emlakFiyat) TL
                            </div>
                        </div>
                    </a>
                }
            }
        </div>
