﻿@model IEnumerable<emlakSitesi.Models.emlak>
@{
    ViewBag.Title = "Kiralık";
}

<h3>Kiralık</h3>

<hr style="width:100%;height:2px;color:#666666; margin-top:0px;" />
<div class="row">
    @foreach (var item in Model)

    {
        if (item.emlakTuru == 2 && item.emlakOnay == 1)
        {
            <a class="emlak-link" href="../../emlaks/Details/@Html.DisplayFor(modelItem => item.emlakID)">
                <div class="col-md-3">
                    <div id="emlak-baslik" style="color:#6d1313; width:100%; font-size:14px; text-align:center; font-weight:bold;">
                        @Html.DisplayFor(modelItem => item.emlakBaslik)
                    </div>
                    <div id="emlak-resim" style="width:100%; height:auto;">
                        <center>
                            <img id="emlak-res" style="width:200px; height:150px;" src="
                    @Html.DisplayFor(modelItem => item.emlakResim)" />
                        </center>
                    </div>
                    <div id="emlak-adres" style="color:#050246; width:100%; font-size:14px; text-align:center;">
                        @Html.DisplayFor(modelItem => item.il)
                        /
                        @Html.DisplayFor(modelItem => item.ilce)
                    </div>
                    <div id="emlak-fiyat" style="color:#050246; width:100%; font-size:16px; text-align:center; font-weight:bold;">
                        @Html.DisplayFor(modelItem => item.emlakFiyat) TL
                    </div>
                </div>
            </a>
        }
    }
</div>